@import "../../Styles/variable.scss";
.Single {
  display: flex;

  .view {
    flex: 1;
    .info {
      .topInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 20px;
          object-fit: cover;
        }
        h1 {
          font-weight: 500;
        }
        button {
          padding: 10px;
          background-color: rgb(230, 83, 130);
          border: none;
          border-radius: 5px;
          font-size: 14px;
          color: white;
        }
      }
      .details {
        font-size: 18px;

        .items {
          margin: 30px 0px;
          .itemTitle {
            font-weight: 600;
            margin-right: 10px;
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 0.5px solid grey;
      margin: 20px 0px;
    }

    .chart {
      margin-top: 50px;
      width: 80%;
      height: 400px;
    }
  }

  .activities {
    flex: 1;

    h2 {
      margin-bottom: 20px;
    }
    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 50px;
        background-color: #f45b69;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 50%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #f45b69;
          transform: translateX(-50%);
        }

        div {
          min-width: 480px;
          padding: 15px;
          background-color: #f45b6810;

          p {
            margin-bottom: 5px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
