.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;

  span {
    &:first-child {
      font-weight: bold;
    }
    &:last-child {
      font-size: 14px;
    }
  }
}
